In [1]:
import pandas as pd

---

In [4]:
df = pd.read_csv('divided_words.csv')

In [6]:
df.head()

       word       divided
0       the          th-e
1        on            on
2        of            of
3       and          an-d
4  research  r-es-e-ar-ch