In [1]:
import pandas as pd

---

In [4]:
df = pd.read_csv('lemmas_60k.tsv', sep='\t')

In [6]:
df.head()

,rank,lemma,PoS,freq,perMil,%caps,%allC,range,disp,blog,...,news,acad,blogPM,webPM,TVMPM,spokPM,ficPM,magPM,newsPM,acadPM
0,5,of,i,23159162,23321.89,0.01,0.00,477933,0.97,2897295,...,2867922,4500485,23317.58,26588.36,10918.77,20157.43,19270.82,25796.39,23557.38,37569.65
1,15,do,v,8186412,8244.70,0.10,0.01,415641,0.98,1052753,...,557889,321166,8472.61,6888.18,18344.18,11672.50,8055.41,4716.30,4582.55,2681.07
2,25,they,p,4503650,4535.29,0.23,0.00,382938,0.98,626530,...,493994,345418,5042.35,4390.60,4129.95,7414.70,4606.30,3683.25,4057.71,2883.52
3,35,she,p,3188078,3210.48,0.32,0.00,206627,0.93,181410,...,295580,87513,1460.00,1693.13,3771.82,2812.08,10844.81,2263.90,2427.92,730.55
4,45,about,i,2427703,2444.76,0.02,0.01,350741,0.98,360952,...,231251,158515,2904.96,2328.58,3194.97,3844.24,2097.08,1865.94,1899.52,1323.27

In [8]:
df[['rank', 'lemma', 'PoS', 'freq']].head()

   rank  lemma PoS      freq
0     5     of   i  23159162
1    15     do   v   8186412
2    25   they   p   4503650
3    35    she   p   3188078
4    45  about   i   2427703

In [7]:
df[['lemma']].count()

lemma    6100
dtype: int64

### Duplicates

#### Check

###### Only lemma column

In [12]:
duplicated = df.duplicated(subset=['lemma'], keep=False)

In [13]:
duplicated.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [14]:
duplicated.loc[lambda x: x == True].head()

31    True
54    True
58    True
81    True
86    True
dtype: bool

###### lemma and Pos columns

In [16]:
df.loc[duplicated, ['lemma', 'PoS']].head()

      lemma PoS
31    watch   v
54   return   v
58    paper   n
81    worry   v
86  present   v

In [17]:
duplicated = df.duplicated(subset=['lemma', 'PoS'], keep=False)

In [18]:
duplicated.loc[lambda x: x == True].head()

Series([], dtype: bool)

#### Remove duplacates

In [20]:
uniqueWords = df.drop_duplicates(subset=['lemma'])

In [21]:
uniqueWords[['lemma']].head()

   lemma
0     of
1     do
2   they
3    she
4  about

In [22]:
uniqueWords[['lemma']].count()

lemma    6046
dtype: int64

### Filter

In [24]:
wordsWithSpecialSignsMask = uniqueWords['lemma'].str.match('.*[^\w\s].*')
filtered = uniqueWords[~wordsWithSpecialSignsMask] # invert with ~

In [25]:
filtered[['lemma']].head()

   lemma
0     of
1     do
2   they
3    she
4  about

In [26]:
filtered[['lemma']].count()

lemma    4991
dtype: int64

### Output unique words

In [28]:
filtered.to_csv('lemmas_uniques_60.csv', columns=['lemma'], index=False)