In [2]:
import pandas as pd

---

In [4]:
df = pd.read_csv('syllables.csv')

In [5]:
df.head()

  syllable  frequency
0       in        785
1       er        746
2       ti        581
3       re        546
4       at        536

In [6]:
df['syllable'].count()

270

### Sort

##### by syllable length

In [9]:
sortedDf = df.sort_values(by='syllable', key=lambda x: x.str.len(), ascending=False)

In [10]:
sortedDf.head()

    syllable  frequency
106    ation        116
203     ness         63
260     ling         51
217     ting         60
67      tion        177

In [11]:
sortedDf['syllable_length'] = df['syllable'].str.len()
sortedDf = sortedDf.sort_values(by=['syllable_length', 'frequency', 'syllable'], ascending=[False, False, True])
sortedDf = sortedDf.drop(columns=['syllable_length'])

In [12]:
sortedDf

    syllable  frequency
106    ation        116
67      tion        177
107     atio        116
176     able         74
192     ical         69
..       ...        ...
258       oi         52
259       ua         52
266       av         51
268       ob         50
269       ue         50

[270 rows x 2 columns]

In [13]:
sortedDf.to_csv('syllables_sorted.csv', index=False)