In [1]:
import pandas as pd

---

In [3]:
df = pd.read_csv('syllables.csv')

In [4]:
df.head()

  syllable  frequency
0       in        986
1       er        909
2       re        708
3       ti        700
4       te        669

In [5]:
df.duplicated(subset=['syllable'], keep=False).loc[lambda x: x == True].head()

Series([], dtype: bool)