In [15]:
import pandas as pd

---

In [17]:
df = pd.read_csv('words.csv')

In [18]:
df.head()

       word  frequency
0       the          6
1        on          5
2        of          4
3       and          3
4  research          3

In [27]:
df.duplicated(subset=['word'], keep=False).loc[lambda x: x == True].head()

Series([], dtype: bool)